extends layout

block content
  div(class="wrapper")
    div(class="header")
      h1= title
    hr
    div(class="content")
      table
        tr
          th Id читателя
          th Имя читателя
        each man in users
          tr
            td=man.id
            td=man.name
      a(href="/") На начальную страницу
    hr
    div(class="footer") Bogdan Shevchuk, 2019